*.o

/_install/
/Modules/_testembed
/Parser/pgen
/Python
/Python3
/android/
/build/
/config.log
/config.status
/pyconfig.h
/python
/libpython3*
/python3_extras_r*.zip
/python3_r*.zip
/python3_scripts_r*.zip

Makefile
Makefile.pre
